<body>
<header style="border: 1px solid black">Loren ipsun</header>
<nav>
  <a href="void()">Link 1</a>
  <a href="void()">Link 2</a>
  <a href="void()">Link 3</a>
</nav>
<main style="display: flex; border: 2px solid black; padding: 15px">
  <article style="min-width: 70%">
    <section style="border: 1px solid brown">
      Section 1 Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release
      of Letraset sheets containing Lorem Ipsum passages, and more recently
      with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </section>
    <section style="border: 1px solid brown">
      Section 2 Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release
      of Letraset sheets containing Lorem Ipsum passages, and more recently
      with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </section>
  </article>
  <aside style="border: 1px solid blue; min-width: 30%">
    Lorem ipsum color!
  </aside>
</main>
<footer style="border: 1px solid blue;">FOOTER</footer>
</body>
